#level-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#level-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c"
    "d e";

  .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  }
}

#level-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b b"
    "c c d"
    "e e e";

  .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  }
}
/* #level-2 > p:nth-child(1) { grid-area: a; }
#level-2 > p:nth-child(2) { grid-area: b; }
#level-2 > p:nth-child(3) { grid-area: c; }
#level-2 > p:nth-child(4) { grid-area: d; }
#level-2 > p:nth-child(5) { grid-area: pea; } */
#level-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a b c"
    "d e b c";

  .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  }
}
#level-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */

  grid-template-areas:
    "e . b . d"
    "e . b a a"
    "e c c c .";

  .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  }
}

#level-6 {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "e e e e e"
    "b a a a c"
    /* "b a a a c" */
    "d d d d d";

  .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  }
}

#level-7 {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: minmax(5ch, 1fr);
  /* grid-template-areas: "a b c d e"; */

  /* .peas {
    grid-area: a;
  }
  .onions {
    grid-area: b;
  }
  .tomatoes {
    grid-area: c;
  }
  .lettuce {
    grid-area: d;
  }
  .carrots {
    grid-area: e;
  } */
}

#level-8 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, auto));
  grid-auto-rows: 5ch;
}
